/*-- scss:defaults --*/

/* was 0.7; used with 'smaller' in YAML */
$presentation-font-smaller: 0.65;  

/* defaults were: 3.77em, 2.11em, 1.55em, 1.00em */
$presentation-h1-font-size: 3.77em !default; 
$presentation-h2-font-size: 1.40em !default;
$presentation-h3-font-size: 1.10em !default;
$presentation-h4-font-size: 1.00em !default;

/*-- scss:rules --*/

/* css styles */
/* note that this should match styles.css */
/* so that slides use same rules as web profile */
.ctrd {
    text-align: center;
}